



  <div class="home-container">


    <div class="section">
          <div class="title-stripe">
        Ethereum is a shared global database that anyone can interact with using Metamask and other plugins.
        On Ethergoods, you can buy, sell, and trade unique tokens that represent digital items saved in this database such as artwork, armor, video game weapons, virtual furniture, and more. <div class="btn btn-primary">Learn More</div>
          </div>
    </div>


    <div class="section">
      <div class="container">

        <div class="row">
          <div class="col-sm-4">
            <div class="landing-tile">
            3D Models
            </div>
          </div>
          <div class="col-sm-4">
            <div class="landing-tile">
            Textures
            </div>
          </div>
          <div class="col-sm-4">

            <div class="landing-tile">
            Artwork
            </div>
          </div>
        </div>
        <div class="row">
          Decentraland

        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="landing-tile">
            Structures
            </div>
          </div>
          <div class="col-sm-4">
            <div class="landing-tile">
            Furniture
            </div>
          </div>
          <div class="col-sm-4">
            <div class="landing-tile">
            Assets
            </div>
          </div>
        </div>

      </div>
    </div>

      <div class="section list-section">
        <div class="title-stripe list-title">
          List your creations on Ethergoods
        <div>
      </div>

    <div class="row">
      <div class="col-sm-6 site-preview-container">

      </div>


<!--
    <div class="col-sm-6 login-container">
        <div class="login-container-title">

          <h3>  Etherpunks </h3>
          <p> Digital punks chill here.  </p>

          <div class="btn btn-primary eth-sign-button">
            Sign In With Metamask
          </div>

          <a href="https://metamask.io" target="_blank">

          <div class="btn btn-default get-metamask">
             Don't have Metamask?
          </div>
          </a>


        </div>

    </div>
-->
  </div>


  </div>


</div>
