<ul class="nav nav-pills nav-stacked punk-menu-nav">



    <img src="<%= image_path @punk.avatar.thumb %>" class="punk-profile-image"/>


    <li>
      Bio
    </li>
    <li>
      Connect Accounts
    </li>
    <li>
      Password Storage
    </li>
    <li>
      Personal Notes
    </li>


</ul>
