

<p>
  Your punk now has its own digital identity.  Create social media accounts for the punk (not your own accounts!) and officially link them to the punk using this page.

</p>


Connect Google Account

<a href="/auth/github"> Connect Github Account </a>

Connect Medium Account

Connect Twitter Account

Connect Instagram
