// Place all the styles related to the park controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.eth-sign-button
{
  cursor:pointer;
}


.hover-cursor
{
  cursor:pointer;
}


.navbar-search
{
  display: inline-block;
  padding-top: 10px;
  
  input
  {
    display: inline-block !important;
  }
  .btn
  {
    display: inline-block;}
}

.form-inline
{
      display: inline;
}
