// Place all the styles related to the punk controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.punk-profile-image
{
    width:100%;
    image-rendering: pixelated;
    background-color: #9b59b6;
}

.select-punk-list
{
  width:100%;
  min-height:400px;
}
