
<div class="row">


  <div class="col-sm-3">
    <ul class="">


      <li>
        <img src="<%= image_path @punk.avatar.thumb %>" class="punk-profile-image"/>
      <li>

        <li>
          Bio
        </li>
        <li>
          Connect Accounts
        </li>
        <li>
          Password Storage
        </li>
        <li>
          Personal Notes
        </li>


    </ul>
  </div>


  <div class="col-sm-9">
  </div>

</div>
