
<div class="container">
  <div class='select-punk-menu'>
    <h4> Select your Punk </h4>

      <div class="select-punk-list">

        <% if @punks_owned.size < 1%>
          No cryptopunks were found in your ethereum account <%= @current_public_address %>.
        <% else %>

          <% @punks_owned.each do |punk| %>
            <%= render partial: 'punk_select_icon', locals:{punk: punk}%>
          <% end %>

        <% end %>

      </div>

      <div class="select-button-container pull-right">


        <a href="http://www.larvalabs.com/cryptopunks" target="_blank">
          <div class="btn btn-default get-metamask">
             Get a Punk
          </div>
        </a>

          <div class="btn btn-primary btn-login-guest hover-cursor">
              Continue as a Guest
          </div>

      </div>

  </div>
</div>

<script>

$(".btn-login-guest").on('click',function(){


$.ajax({
  method: "POST",
  beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
  url: "<%= url_for login_guest_path %>",
  data: {  }
})
  .success(function( result ) {
   window.location.href = "<%= url_for root_path %>";
  });



})


</script>
